<template>
  <div>
    <h1>Jogo da Velha</h1>
    <form v-if="!board" @submit.prevent="startGame">
      <h2>Nomes</h2>
      <div class="input-group">
        <label>Jogador X</label>
        <br />
        <input required type="text" v-model="players[0].player" />
      </div>
      <div class="input-group">
        <label>Jogador O</label>
        <br />
        <input required type="text" v-model="players[1].player" />
      </div>
      <button class="btn success">Jogar</button>
    </form>
    <div v-if="board && !winner" class="board">
      <div
        class="square"
        v-for="(square, index) in board"
        :key="index"
        @click="move(index)"
      >
        {{ square }}
      </div>
    </div>
    <div v-if="winner && !gameOver">
      <h3>{{ winner }}</h3>
      <h4>Deseja iniciar uma nova rodada?</h4>
      <button class="btn success" @click="newRound">Sim</button>
      <button class="btn finish" @click="finish">Não</button>
    </div>
    <div v-if="gameOver">
      <h2 v-for="(gamester, index) in players" :key="index">
        {{ gamester.player.getName() }} fez
        {{ gamester.player.getPoints() }} ponto(s)
      </h2>
      <button class="btn success" @click="restart">Reiniciar</button>
    </div>
  </div>
</template>

<script>
import Player from "@/class/Player.js";

export default {
  name: "Jogo da Velha",

  data: () => ({
    board: null,
    players: [
      { player: null, symbol: "X" },
      { player: null, symbol: "O" },
    ],
    turnIndex: 0,
    gameOver: false,
    winningSequences: [
      [0, 1, 2],
      [3, 4, 5],
      [6, 7, 8],
      [0, 3, 6],
      [1, 4, 7],
      [2, 5, 8],
      [0, 4, 8],
      [2, 4, 6],
    ],
    winner: null,
  }),

  methods: {
    startGame() {
      this.board = new Array(9).fill(null);
      this.players.forEach((gamester) => {
        gamester.player = new Player(gamester.player);
      });
    },

    move(position) {
      if (this.gameOver || this.board[position] !== null) return false;

      const currentSymbol = this.players[this.turnIndex].symbol;

      this.board[position] = currentSymbol;

      const winning = this.checkWin(currentSymbol);

      if (this.isGameOver()) {
        this.winner = "Não houve vencedor nesta rodada.";
      }

      if (winning >= 0) {
        let playerWin = this.players[this.turnIndex].player;
        playerWin.addPoints();
        this.winner = `Jogador ${playerWin.getName()} ganhou esta rodada.`;
      } else {
        this.change();
      }
    },

    checkWin(symbol) {
      for (let i in this.winningSequences) {
        if (
          this.board[this.winningSequences[i][0]] === symbol &&
          this.board[this.winningSequences[i][1]] === symbol &&
          this.board[this.winningSequences[i][2]] === symbol
        ) {
          return i;
        }
      }
      return -1;
    },

    isGameOver() {
      return !this.board.includes(null);
    },

    change() {
      this.turnIndex = this.turnIndex === 0 ? 1 : 0;
    },

    newRound() {
      this.board.fill(null);
      this.winner = null;
      this.turnIndex = 0;
    },

    finish() {
      this.gameOver = true;
    },

    restart() {
      this.board = null;
      this.winner = null;
      this.turnIndex = 0;
      this.gameOver = false;
      this.players.forEach((gamester) => {
        gamester.player = null;
      });
    },
  },
};
</script>

<style scoped>
.input-group {
  margin-bottom: 7px;
}

.board {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  height: 100px;
  border: 1px solid rgb(0, 0, 0);
  font-size: 70px;
  font-weight: bold;
}

.btn {
  width: auto;
  height: 2em;
  font-size: 17px;
  color: white;
  border-radius: 5px;
  margin: 0 8px;
}

.success {
  background-color: #4caf50;
}

.finish {
  background-color: #f44336;
}
</style>
